body {
    background-color: #EAFDCF;
}
.MuiGrid-root .MuiPaper-root {
    background-color:#BCD39C;
    
}
.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot {
    background-color: transparent;
    color:black;
    
}
.MuiFormControl-root {
    background-color: transparent;
    color:black;
   
}
.signupForm{
    position: relative;
}
.signupImageContainer{
    position: absolute;
    right:-65%;
    top:0;
    width:100%;
}
.loginImages{
    position: absolute;
    right:-125%;
    top:0;
    width:100%;
}
.cactusSignup{
    width:50em;
}
.homeText {
    text-align: center;
}
@media (max-width:640px){
    .MuiAutocomplete-root, 
    .MuiTextField-root,
  
    {
        width:100px !important;
    }
    .signupImageContainer, .cactusSignup{
        display:none
    }
}

