
  .singleImage {
    padding: 0 20px 20px;
    height: unset;
    max-width: 100%;
    border-radius: 30px;
  }
   
  .singleImage:hover {
   
    transition: 0.1s;
    transform: scale(1.24); 
  }
  
   .my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -40px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 20px; /* gutter size */
    background-clip: padding-box;
  }
   
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    background: grey;
    margin-bottom: 30px;
  }

 